{# ---------- BUTTON ONLY ----------#}
{% macro accordion_button(label, target_id, expanded=False, classes="") -%}
<button class="accordion-button {{ '' if expanded else 'collapsed' }} {{ classes }}" type="button"
	data-bs-toggle="collapse" data-bs-target="#{{ target_id }}" aria-expanded="{{ 'true' if expanded else 'false' }}"
	aria-controls="{{ target_id }}">
	{{ label }}
</button>
{%- endmacro %}


{% macro custom_link(label, link) -%}
<a class="link-offset-2 link-offest-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
	href="{{ link }}">
	{{ label }}
</a>
{%- endmacro %}
