{% extends 'base.html' %}

{% from "_macros/components.html" import accordion_button, custom_link %}

{% block title %}Auditor Questions{% endblock %}

{% block content %}

<div class="container">
	<div class="row just-content-center">
		<div class="col-md-10 offset-md-1">
			<h2>Auditors Questions</h2>
			<h5>All files come from the
				{{ custom_link('DESE apps', 'https://apps.dese.mo.gov/DESEApplicationsSignin/ApplicationMenu')}}
			</h5>

			<div class="accordion accordion-flush" id="main">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						{{ accordion_button('Attendance Hours Summary', 'collapseZero') }}
					</h2>
					<div id="collapseZero" class="accordion-collapse collapse" style="">
						<div class="accordion-body">
							<span>
								Core Data Collection -> Reports on left side bar ->
								Summary Reports -> Attendance Hours
							</span>
						</div>
					</div>
				</div>

				<!-- ---------------------------------- -->

				<div class="accordion-item">
					<h2 class="accordion-header">
						{{ accordion_button('Published School Calendars (Both planned and final)', 'collapseOne') }}
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" style="">
						<div class="accordion-body">
							<span>
								Shared AID Drive: Audit -> 2025 -> 2025-26 Yearly Calendar.pdf
							</span>
						</div>
					</div>
				</div>

				<!-- ---------------------------------- -->

				<div class="accordion-item">
					<h2 class="accordion-header">
						{{ accordion_button('Screen 10: School Calendar List for previous year', 'collapseTwo') }}
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" style="">
						<div class="accordion-body">
							<span>
								Core Data Collection -> Reports on left side bar -> Screen print -> Calendar
							</span>
						</div>
					</div>
				</div>

				<!-- ---------------------------------- -->

				<div class="accordion-item">
					<h2 class="accordion-header">
						{{ accordion_button('Screen 15: Home School/Free and Reduced Lunch for previous year', 'collapseThree') }}
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" style="">
						<div class="accordion-body">
							<span>
								Core Data Collection -> Reports on left side bar -> Screen print -> 15 Home School/Free and Reduced
								Lunch
							</span>
						</div>
					</div>
				</div>

				<!-- ---------------------------------- -->

				<div class="accordion-item">
					<h2 class="accordion-header">
						{{ accordion_button('June MOSIS Certified File', 'collapseFour') }}
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse" style="">
						<div class="accordion-body">
							<ol class="text-start">
								<li><span style="font-weight: bold;">Certified file:</span> MOSIS Data Collection System -> June Cycle
									-> Student Core -> Certified Trial ->
									Download</li>
								<li><span style="font-weight: bold;">Warning file:</span> MOSIS Data Collection System -> June Cycle ->
									Student Core -> Certified Trial ->
									Reports -> Edits Summary By Record (right side)</li>
							</ol>
						</div>
					</div>
				</div>

				<!-- ---------------------------------- -->

				<div class="accordion-item">
					<h2 class="accordion-header">
						{{ accordion_button('September and January Membership Reports', 'collapseFive') }}
					</h2>
					<div id="collapseFive" class="accordion-collapse collapse" style="">
						<div class="accordion-body">
							<span>
								Core Data Collection -> Reports on left side bar -> September/January Membership Reports
							</span>
						</div>
					</div>
				</div>

				<!-- ---------------------------------- -->

				<div class="accordion-item">
					<h2 class="accordion-header">
						{{ accordion_button('Documentation supporting membership and hours of attendance reporting to DESE',
						'collapseSix') }}
					</h2>
					<div id="collapseSix" class="accordion-collapse collapse" style="">
						<div class="accordion-body">
							<span>
								Datasrv (shared drive) -> Audit -> 2025 -> 8.Attendance memo - FINAL.docx
							</span>
						</div>
					</div>
				</div>

			</div>

			<div class="container mt-3">
				{{ custom_link('Manual Link',
				'https://sites.google.com/cpsk12.org/aid-manual/reporting/auditers-requirements?authuser=0')}}
			</div>

		</div>
	</div>
</div>

{% endblock %}
