<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<title>{% block title %} {% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/db_icon.ico') }}">
</head>

<body class="pt-5">
	{% block navbar %}

	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">AID</a>
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					{% set index_redirect = url_for('auth.index') %}
					<a class="nav-link active" aria-current="page" href="{{ index_redirect }}">Home</a>
				</li>
				<li class="nav-item">
					{% set test_redirect = url_for('auth.test') %}
					<a class="nav-link" href="{{ test_redirect }}">Test</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Dropdown link
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
			</ul>
			{% set logout_redirect = url_for('auth.logout') %}
			<form class="d-flex ms-lg-0" action="{{ logout_redirect }}" method="POST">
				{{ logout_form.hidden_tag() }}
				{% set logout_button = logout_form.submit(class="btn btn-outline-light btn-sm")%}
				{{ logout_button }}
			</form>
		</div>
	</nav>
	{% endblock %}



	<!-- Flash message box on screen -->
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<div class="container mt-3">
		{% for category, msg in messages %}
		{% set alert_logic = 'warning' if category == 'message' else category %}
		<div class="alert alert-{{ alert_logic }} alert-dismissible fade show" role="alert">
			{{ msg }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% endwith %}

	<div class="main_block">
		{% block content %} {% endblock %}
	</div>

	<!-- Javascript Imports -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
		crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/script.js' )}}"></script>
</body>

</html>
