{% extends 'base.html' %}

{% from "_macros/components.html" import accordion_button, custom_link %}

{% block title %}Course Assign Tools{% endblock %}

{% block content %}
<div class="container text-center justify-content-center">
	<h3>Course Assign Validation Tools</h3>
	<form method="POST" enctype="multipart/form-data">
		<div class="row">
			{{ form.csrf_token }}
			{% set file_label = form.file.label(class="form-label") %}
			{{ file_label }}
			{% set file_form = form.file(class="form-control") %}
			{{ file_form }}
		</div>
		<!-- <form method="POST" -->
		<div class="row mt-2">
			<div class="col-2 align-self-center mt-2">
				{{ form.missing_course_grade_level(class="btn btn-outline-primary") }}
			</div>

			<div class="col-3 align-self-center mt-2">
				{{ form.missing_edssn(class="btn btn-outline-primary") }}
			</div>
		</div>
	</form>
</div>



<script nonce={{ csp_nonce }}>
</script>

{% endblock %}
