{% extends 'base.html' %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="container mt-5">
	<h2>Login to Database</h2>
	<form method="POST">
		{{ form.hidden_tag() }}
		<div class="mb-3">
			{{ form.csrf_token }}
			{% set username_label = form.username.label(class="form-label") %}
			{{ username_label }}
			{% set username_form = form.username(class="form-control") %}
			{{ username_form }}
		</div>
		<div class="mb-3">
			{% set password_label = form.password.label(class="form-label") %}
			{{ password_label }}
			{% set password_form = form.password(class="form-control") %}
			{{ password_form }}
		</div>
		{% if error %}
		<div class="alert alert-danger">{{ error }}</div>
		{% endif %}
		{% set submit_button = form.submit(class="btn btn-primary") %}
		{{ submit_button }}
	</form>
</div>

{% endblock %}
