{% extends 'base.html' %}

{% block content %}
<div id="test-container">
	<h3>static page</h3>
	<p>The current time is: <span id="time"></span></p>

	<!-- Any attribute that starts with "data-..." is a custom attribute -->
	<!-- that will be accessed with javascript code. -->
	<button type="button" data-dark-toggle="test-container">Toggle Dark Mode (div)</button>
	<button type="button" data-dark-toggle="body">Toggle Dark Mode (body)</button>

	{% if results %}
	<table style="margin-top: 10px;">
		<thead>
			<tr>
				{% for col in headers %}
				<th>{{ col }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in results %}
			<tr>
				{% for cell in row %}
				<td>{{ cell }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p style="text-align:center;">No results to show.</p>
	{% endif %}
</div>
{% endblock %}
